div
    label Title
        input(type="text" name="title" value=book.title)
div
    label Author
        input(type="text" name="author" value=book.author)
div
    label Page Count
        input(type="number" name="pageCount" min="1" value=book.pageCount)
div
    label Publish Date
        input(type="date" name="publishDate" value="#{book.publishDate === null ? '' : book.publishDate.toDateString()}")
div
    label Description
        textarea(name="description" value=book.description)
